body {
    background-image: linear-gradient(
        180deg,
        #800000 5%,
        #B22222 20%,
        #FFA500 60%,
        #CD853F 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 400px;
    margin: 5px 0;
    width: 275px;
}